[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "surveyexplorer"]
	path = surveyexplorer
	url = https://github.com/liamhaller/surveyexplorer
